<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <div class="py-5" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr></tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Hator Sport Light Black/Yellow&nbsp;<img class="img-fluid d-block" src="https://i2.rozetka.ua/goods/15985714/hator_htc_910_images_15985714844.jpg" width="123"></td>
                  <td><a class="btn btn-primary" href="#">Delete</a></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>
                    <h6 class="">Кресло Special4You Riko Black/Red&nbsp;</h6><img class="img-fluid d-block" src="https://i8.rozetka.ua/goods/15446763/special4you_e5234_images_15446763858.jpg" width="123">
                  </td>
                  <td><a class="btn btn-primary" href="#">Delete</a></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>
                    <h6 class="">Мышь Asus UT280 USB Black </h6><img class="img-fluid d-block" src="https://i2.rozetka.ua/goods/2028058/asus_90xb01en_bmu020_images_2028058626.jpg" width="100">
                  </td>
                  <td><a class="btn btn-primary" href="#">Delete</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6 col-lg-7">
          <h4 class="" contenteditable="true">All price :</h4>
          <h6 class="">(All price)</h6>
          <h6 class="">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br></h6><a class="btn btn-outline-primary btn-lg" href="#">Buy&nbsp;<i class="fa fa-shopping-cart fa-fw"></i> </a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style="" ></script>
</body>

</html>