



<div class="ddr-page-wrapper" data-ddr-page-id="bea48ec4-34b9-11eb-8ae0-0242ac140009">
    <div class="ddr-page">
        <div id="ddr-41f9c7941c" class="ddr-page-section-wrapper ddr-page-section-wrapper-0">
            <div class="ddr-page-section-pre-content ddr-page-section-pre-content-0" style="max-width: 1200px; margin: auto;">
                <div class="ddr-page-section ddr-page-section-0">
                    <div class="ddr-page-row ddr-page-row-0 ddr-page-row__wrap--320 ddr-page-row__wrap--480 ddr-page-row__wrap--768">
                        <div class="ddr-page-column ddr-page-column-0 ddr-page-column__wrap--320 ddr-page-column__wrap--480 ddr-page-column__wrap--768 " style="width: 100%;">
                            <div id="ddr-26dbfc3d18" class="ddr-page-widget ddr-page-widget__spacer ddr-page-widget-0 ">
                                <div class="ddr-widget ">
                                    <div class="ddr-widget__spacer " style="height: 50px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="ddr-76fb862b7a" class="ddr-page-section-wrapper ddr-page-section-wrapper-1">
            <div class="ddr-page-section-pre-content ddr-page-section-pre-content-1" style="max-width: 1200px; margin: auto;">
                <div class="ddr-page-section ddr-page-section-1">
                    <div class="ddr-page-row ddr-page-row-0 ddr-page-row__wrap--320 ddr-page-row__wrap--480 ddr-page-row__wrap--768">
                        <div class="ddr-page-column ddr-page-column-0 ddr-page-column__wrap--320 ddr-page-column__wrap--480 ddr-page-column__wrap--768 " style="width: 100%;">
                            <div id="ddr-c863a7f11c" class="ddr-page-widget ddr-page-widget__image ddr-page-widget-0 ">
                                <div class="ddr-widget ">
                                    <div class="ddr-widget__image " style="justify-content: center;"><a target="_self" style="border-style: solid; border-width: 2px; border-color: rgb(241, 241, 241); margin-right: 15px; margin-left: 15px;"><img src="https://cdn.dragdropr.com/6a002d0d-a603-4bbc-adb6-dc36f8ab39dd/" style="height: auto; width: 100%;"></a></div>
                                </div>
                            </div>
                            <div id="ddr-9616842224" class="ddr-page-widget ddr-page-widget__rich-text ddr-page-widget-1 " data-ddr-page-widget-additional-css-id="8c82fe9930">
                                <div class="ddr-widget ">
                                    <div id="ddr-rich-text-1001" class="ddr-widget__rich-text " style="margin: 20px 30px 0px;">
                                        <p style="text-align: center;"><span style="color: #2a2a2a; font-size: 22px;">Tomato</span></p>
                                    </div>
                                </div>
                            </div>
                            <div id="ddr-e09b9cfabb" class="ddr-page-widget ddr-page-widget__image ddr-page-widget-2 ">
                                <div class="ddr-widget ">
                                    <div class="ddr-widget__image " style="justify-content: center;"><a target="_self" style="width: 80px; height: auto;"><img src="https://cdn.dragdropr.com/adfb4de7-7c42-4d04-ba43-7f77622d6d3a/" style="height: auto; width: 80px;"></a></div>
                                </div>
                            </div>
                            <div id="ddr-b62f565676" class="ddr-page-widget ddr-page-widget__rich-text ddr-page-widget-3 " data-ddr-page-widget-additional-css-id="8c82fe9930">
                                <div class="ddr-widget ">
                                    <div id="ddr-rich-text-1003" class="ddr-widget__rich-text " style="margin: 0px 30px;">
                                        <p style="text-align: center;"><strong><span style="color: #2a2a2a;"><span style="font-size: 20px;">$40.00</span></span></strong></p>
                                    </div>
                                </div>
                            </div>
                            <div id="ddr-025c9278fa" class="ddr-page-widget ddr-page-widget__button ddr-page-widget-4 " data-ddr-page-widget-additional-css-id="f02620ae62">
                                <div class="ddr-widget ">
                                    <div class="ddr-widget__button " style="justify-content: center;"><a target="_self" style="margin: 20px 30px 30px; border-radius: 3px; border-style: solid; border-width: 2px; border-color: rgb(107, 198, 20);">
                                            <div id="button-1004" style="padding: 15px 30px; font-size: 18px;">Add To Cart</div>
                                        </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ddr-page-row ddr-page-row-1 ddr-page-row__wrap--320 ddr-page-row__wrap--480 ddr-page-row__wrap--768">
                        <div class="ddr-page-column ddr-page-column-0 ddr-page-column__wrap--320 ddr-page-column__wrap--480 ddr-page-column__wrap--768 " style="width: 100%;">
                            <div id="ddr-8c5adf20b3" class="ddr-page-widget ddr-page-widget__spacer ddr-page-widget-0 ">
                                <div class="ddr-widget ">
                                    <div class="ddr-widget__spacer " style="height: 70px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>