<div class="col-md-6 p-4 shadow-lg col-lg-3 m-1 mx-4" style="">
    <img class="img-fluid d-block mx-auto mb-3" src="https://recommerce.com.ua/static/krutmobile.reshop.com.ua/catalog/1389/17240297745c2fb35940847_original.jpg" width="150">
    <h4> <b>Iphone X</b></h4>
    <h4> <b>200$</b></h4>
    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p><a class="btn btn-primary btn-block" href="#">Button</a>
  </div>